<!DOCTYPE html
<html>
<head>
  <title>PEP Practice</title>
  <style>
  h1 {font-size: 40px;
      font-family: Roboto;
      font-weight: normal;
      color: rgb(0,0,134)
      text-align: center;
      
     
  
    
    
  }
  </style>
</head>
<body> 
<h1>PEP Practice </h1>
  <img src =  "https://pep-practic-webapp--kiibowen.repl.co/static/banner.jpeg.jpg" height=320> 
  <h2> About PEP Practice </h2>
  <p> PEP Practice is a private tutoring service. We are committed to helping Jamaican students transition from the GSAT examination to PEP, the high order thinking oriented examination which promotes analytical and reasoning skills that are required to survive in today’s developing world.</p>
<h2> Subjects </h2>
  <p> TODO - Show subjects <Up></Up>re </p>
  <button> Sign Up </button>
</body>
</html>